/**
 * @author: Danilo Bustos Pérez
 */

@charset "utf-8";

/* font-size:
  
  10px = 77%        17px = 131%       24px = 182%
  11px = 85%        18px = 138.5%     25px = 189%
  12px = 93%        19px = 146.5%     26px = 197%
  13px = 100%       20px = 153.9%
  14px = 108%       21px = 161.6%
  15px = 116%       22px = 167%
  16px = 123.1%     23px = 174%
*/

/**
 * Fonts
 */
@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");

// CSS Reset
/* <YUI RESET> */
//html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}:focus{outline:none}
/* </YUI RESET>*/
@import "less/reset.less";

// Core variables and mixins
@import "less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "less/mixins.less";

// Grid system and page structure
@import "less/scaffolding.less";
@import "less/grid.less";
@import "less/layouts.less";

// Base CSS
@import "less/type.less";
@import "less/code.less";
@import "less/forms.less";
@import "less/tables.less";

// Components: common
@import "less/sprites.less";
@import "less/dropdowns.less";
@import "less/wells.less";
@import "less/component-animations.less";
@import "less/close.less";

// Components: Buttons & Alerts
@import "less/buttons.less";
@import "less/button-groups.less";
@import "less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "less/navs.less";
@import "less/navbar.less";
@import "less/breadcrumbs.less";
@import "less/pagination.less";
@import "less/pager.less";

// Components: Popovers
@import "less/modals.less";
@import "less/tooltip.less";
@import "less/popovers.less";

// Components: Misc
@import "less/thumbnails.less";
@import "less/media.less";
@import "less/labels-badges.less";
@import "less/progress-bars.less";
@import "less/accordion.less";
@import "less/carousel.less";
@import "less/hero-unit.less";

// Utility classes
@import "less/utilities.less"; // Has to be last to override when necessa




/******************************************************************************/
/*                         Estilos Generales                                  */
/******************************************************************************/

html{
    &.login-view{
        background: #000 url(../images/html/bg-login.jpg) center center no-repeat;
        background-size: cover;
        body{
            background: none;
        }
    }
}

body {
  font:13px/1.231 'Century Gothic', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color:#000;
  background: transparent url(../images/css/bg.png) top center repeat-y;
}

h1{font-size: 153.9%}
h2{font-size: 138.5%}
h3{font-size: 131%}
h4{font-size: 123.1%}
h5{font-size: 116%}
h6{font-size: 108%}

h1,h2,h3,h4,h5,h6 {
    color:#666;
}

h1,h2,h3,h4,h5,h6{
  font-family: Oswald, Helvetica, Arial, sans-serif;
  padding-bottom: 0.25em;
}

a                          {outline:none}
a:link                     {}
a:hover                    {}
a:visited                  {}

/* Navegadores desactualizados o js desactivado*/
#warning p {
  text-align: center;
  background: #ffffbb;
  border: 1px solid #ffcc00;
  padding: 10px;
}

.clear          { clear:both }
.floatleft      { float:left }
.floatright     { float:right }
.spacer10       { height:10px }
.spacer20       { height:20px }
.spacer30       { height:30px }
.spacer40       { height:40px }
.spacer60       { height:60px }
.spacer80       { height:80px }

/*================
    Site
 ================*/
/* Messages */
#msg{
    //height: 0; // This div is a 'line'
    overflow: visible;
    width: 90%;
    position: fixed;
    top: 20px;
    left:50%;
    z-index: 999999999999999999999999;
    margin-left: -45%;
    text-align: center;
}
.message{
    display: inline-block;
    .ie7-inline-block();
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
    .border-radius(4px);
    //.drop-shadow(0, 2px, 4px, 0, rgba(0,0,0,0.35));
    margin: 0 5px;
}
.message.info{
    //background: #cbfebc;
    background-color: #9698fe;
    color: #eee;
    //.linear-gradient(-90deg, #aeb9ff,0%,#6d71fe,100%);
    border: 1px solid #453cf9;
}
.message.success{
    //background: #cbfebc;
    background-color: #adfe96;
    //.linear-gradient(-90deg, #cbfebc,0%,#adfe96,100%);
    border: 1px solid #56a211;
}
.message.warning{
    //background: #ffffbb;
    background-color: #ffffa4;
    //.linear-gradient(-90deg, #ffffbb,0%,#ffffa4,100%);
    border: 1px solid #ffcc00;
}
.message.error{
    //background: #FFEBE8;
    background-color: #ffdcd7;
    //.linear-gradient(-90deg, #FFEBE8,0%,#ffdcd7,100%);
    border: 1px solid #DD3C10;
}


.box{
    .box-shadow(0px 0px 5px 0px rgba(0,0,0,.4));
    .border-radius(10px);
}
.padder10 {padding: 0px 10px}


/* Panel */
.panel {

    .new-item {
      width: 100%;
      form{
        margin-bottom: 0;
      }
      textarea{
        width: 100%;
        padding: 4px;
        .box-sizing(border-box);
        max-width: 100%;
      }
      padding-bottom: 12px;
      border-bottom: 1px solid #dadada;
      margin-bottom: 12px;
    }
    .item {
        width:100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #dadada;
        margin-bottom: 12px;
        .clearfix();
        
        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        
        .avatar {
            float: left;
            width: 50px;
            height: 50px;
            margin-right: 8px;
            
            img {
                max-width: 50px;
                max-height: 50px;
            }
        }
        &.player{
            .avatar {
                width: 30px;
                height: 30px;
                img {
                    max-width: 30px;
                    max-height: 30px;
                }
            }
            .item-content{
                padding-top: 6px;
            }
        }
        
        .item-content{
            display: table-cell;
            line-height: 1.2;
            .profile-name{
                font-weight: bolder;
            }
            .date {
                display: block;
                margin-top: 5px;
                font-size: 11px;
                color: @gray;
            }
        }
    }
}
#div-login,#div-register{
    background: rgba(0, 0, 0, 0.6);
    h3 {
        color: white;
        font-weight: 400;
    }
}

.team{
    img {
        display: block;
        margin: 0 auto;
    }
}

#map {
    img {
        max-width: none !important;
    }
}
.map-normal {
    height: 350px;
    .box-shadow(0px 0px 14px 0px rgba(0,0,0,.4));
}
.map-big {
    height: 450px;
    .box-shadow(0px 0px 14px 0px rgba(0,0,0,.4));
}
.stat-normal {
    height: 300px;
    margin: 0 0 20px 0;
    .box-shadow(0px 0px 14px 0px rgba(0,0,0,.4));
}

.centered{
    text-align: center;
    
    img {
        display: block;
        margin: 0 auto;
    }
    h1,h2,h3,h4,h5,h6,p,a,span {
        text-align: center;
    }
}

// Eliminar imagen de "Powered by google" del autocomplete
.pac-container:after {display: none !important;/*content:url("https://maps.gstatic.com/mapfiles/powered-by-google-on-white.png");*/}

#page{
    margin: 0 auto;
}
    #header{
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        h1 {
            color:#eee;
            line-height: 25px;
            padding-bottom: 0;
            font-weight: 400;
            span {
                font-size: 0.7em;
            }
        }
        .logo-amigoles{
            position: absolute;
            left:50%;
            margin-left: -35px;
            background: transparent url(../images/css/logo-amigoles.png) top left no-repeat;
            width: 62px;
            height: 70px;
        }
        
    }
  
    #menu{
        
    }
    #content{
        
    }
    #footer{
        background: rgba(0, 0, 0, 0.8);
        color:#eee;
        text-align: center;
        padding: 15px 0;
        margin-top: 30px;
    }


    
@import "less/responsive.less";