<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--[if lt IE 7]> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" class="no-js"> <!--<![endif]-->

<head>
  <title>{{nombre}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Description" />
  <meta name="keywords" content="" />
  <meta name="robots" content="all" />
  <meta name="author" content="Author"/>

  <!-- less-->
        <!-- Less library -->
  <!-- /less-->

  <!-- modernizr -->
     <!-- modernizr library -->
  <!-- /modernizr -->
</head>
<body>
    <div id="content">
  
        <div id="header">
            <h1>Posts</h1>
        </div>
  
        <div id="body">
        
            <div id="posts">
                {{#stories}}
                    <div id="post" class="{{_id}}">
                        username: {{username}} <br>
                        post: {{body}} <br>
                        {{#attachment}}
                            {{#url}}
                                {{url}}<br>
                            {{/url}}
                                
                            {{^url}}
                                Post with only <br>
                            {{/url}}
                        {{/attachment}}
                    </div>
                    <br>
                    <br>
                {{/stories}}
            </div>

        </div>

        <div id="footer">

        </div>
    
    </div>

<!-- javascript -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://arcane-crag-4782.herokuapp.com');
</script>


<!-- /javascript -->
<script type="text/javascript">
  $(document).ready(function(){
    socket.on('news', function (data) {
      console.log(data);
      console.log(data.type);
      console.log(data.data);


      var type = data.type;
      var username = data.data.username;
      var body = data.data.body;
      var id = data.data._id;
      var type_post = data.data.attachment.type;
      var url = data.data.attachment.url;

      console.log("username: " + username);
      console.log("type: " + type);
      console.log("body: " + body);
      console.log("id: " + id);
      console.log("type_post: " + type_post);
      console.log("url: " + url);


      $('#posts').append($(
        '<div id="post" class="' + id + '"> <br> username: ' + username + '<br>post: ' + body + '<br>kind of post: ' + type_post + ' <br>url: ' + url + '<br></div><br><br>'
      ));
      //socket.emit('my other event', { my: 'data' });
    });

  });
</script>
</body>
</html>